body {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(248, 124, 144);
}

.navbar ul {
  list-style-type: none;
  margin: 0px;
  overflow: hidden;
  align-items: center;
}

.navbar li {
  color: black;
  text-decoration: none;

  display: block;
  float: left;
  font-size: 20px;
  font-weight: 600;
  padding: 15px 40px;
}

.navbar li:hover {
  background-color: rgb(255, 98, 125);
}

li img {
  height: 20px;
  width: 30px;
  object-fit: cover;
}

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.half {
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  background-color: rgb(253, 205, 213);
}

.half img {
  height: auto;
  width: 50vw;
  height: 100vh;
}

button {
  background-color: rgb(250, 79, 108);
  padding-left: 60px;
  padding-right: 60px;
  height: 50px;
  color: wheat;
  border: none;
}

.content {
  height: 70vh;
  width: 40vw;
  padding: 40px;
}

.content h1 {
  font-size: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.content p {
  font-size: 20px;
  padding-bottom: 40px;
}
